.statistics-container {
    flex-direction: column;
    width: var(--component-width);
    height: var(--component-height);
    gap: var(--component-gap);
}
.statistics-header{
    width: 100%;
}
.statistics-body{
    width: 100%;
    height: 100%;

}
