:root{

    --error-background-color: #fff0f0;
    --error-text-border-color: #ff4d4f;

    --warning-background-color: #fffcf0;
    --warning-text-border-color: #ffd04d;

    --confirmation-background-color: #e4ffe4;
    --confirmation-text-border-color: #0abc02;

    --otp-background-color: #e6f3ff;
    --otp-text-border-color: #2ea8ff;


}

#error{
    --bubble-background-color: var(--error-background-color);
    --bubble-text-color: var(--error-text-border-color);
    --bubble-border-color: var(--error-text-border-color);
}
#warning{
    --bubble-background-color: var(--warning-background-color);
    --bubble-text-color: var(--warning-text-border-color);
    --bubble-border-color: var(--warning-text-border-color);
}
#confirmation{
    --bubble-background-color: var(--confirmation-background-color);
    --bubble-text-color: var(--confirmation-text-border-color);
    --bubble-border-color: var(--confirmation-text-border-color);
}
#info{
    --bubble-background-color: var(--otp-background-color);
    --bubble-text-color: var(--otp-text-border-color);
    --bubble-border-color: var(--otp-text-border-color);
}

.message-bubble {
    position: absolute;
    transform: translate(50%, -100%);
    background-color: var(--bubble-background-color);
    color: var(--bubble-text-color);
    border: 2px solid var(--bubble-border-color);
    border-radius: 20px;
    padding: 12px 18px;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    animation: fadeIn 0.4s ease-in-out;
    direction: rtl;
}


.message-bubble::after,
.message-bubble::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--bubble-background-color);
    border: 2px solid var(--bubble-border-color);
}

.message-bubble::before {
    width: 15px;
    height: 15px;
    bottom: -25px;
    right: 150px;
}

.message-bubble::after {
    width: 10px;
    height: 10px;
    bottom: -38px;
    right: 140px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(50%, -120%);
    }
    to {
        opacity: 1;
        transform: translate(50%, -100%);
    }
}
