.message-bubble {
    position: absolute;
    transform: translate(50%, -100%);
    background-color: #fff0f0;
    border: 2px solid #ff4d4f;
    border-radius: 20px;
    padding: 12px 18px;
    font-size: 2rem;
    font-weight: bold;
    color: #ff4d4f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    animation: fadeIn 0.4s ease-in-out;
    direction: rtl;
}


.message-bubble::after,
.message-bubble::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #fff0f0;
    border: 2px solid #ff4d4f;
}

.message-bubble::before {
    width: 15px;
    height: 15px;
    bottom: -18px;
    right: 30px;
}

.message-bubble::after {
    width: 10px;
    height: 10px;
    bottom: -28px;
    right: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(50%, -120%);
    }
    to {
        opacity: 1;
        transform: translate(50%, -100%);
    }
}
