/* src/components/Otp/Otp.css */

/* Custom properties for OTP components */


.otp-container {
    width: var(--otp-container-width);
    height: var(--otp-container-height);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    direction: ltr;
}

.otp-header {
    margin-bottom: 1rem;
}

.otp-title {
    font-size: var(--otp-title-font-size);
    font-weight: var(--otp-title-font-weight);
    color: var(--otp-title-color);
    margin: 0;
}

.otp-subtitle {
    font-size: var(--otp-subtitle-font-size);
    font-weight: var(--otp-subtitle-font-weight);
    color: var(--otp-subtitle-color);
    margin: 0;
    direction: rtl;
}

.otp-input-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--otp-input-gap);
}

.otp-input {
    width: var(--otp-input-width);
    height: var(--otp-input-height);
    text-align: center;
    font-size: var(--otp-input-font-size);
    font-weight: bold;
    background: transparent;
    border: none;
    border-bottom: 8px solid var(--otp-input-color-inactive);
    transition: border-bottom 0.3s ease;
    color: var(--otp-input-color-active);
}
.otp-input:not(.otp-input:placeholder-shown){
    border-bottom: 8px solid var(--otp-input-color-active);
}

.otp-input:focus {
    outline: none;
    border-bottom: 5px solid var(--otp-input-color-inactive);
    color: var(--otp-input-color-active);
}
.otp-submit-button {
    background-color: var(--form-submit);
    color: white;
    padding: 12px 24px;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50%;

}

.otp-submit-button.active {
    background-color: var(--otp-submit-bg-active);
}

.otp-submit-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.otp-feedback {
    font-size: var(--otp-feedback-font-size);
    color: var(--otp-feedback-color);
}