#root {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: var(--font-size-h1, 3.2em);
    font-weight: var(--font-weight-semi-bold);
}

label {
    direction: rtl;
    text-align: right;
    font-size: var(--font-size-medium);
}

input {
    outline: none;
    font-size: var(--font-size-medium);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-animation: textfield;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
