@font-face{
    font-family: 'fredoka';
    font-style: normal;
    font-weight: 200;
    src: url("src/assets/fonts/Fredoka-Light.ttf");
}
@font-face{
    font-family: 'fredoka';
    font-style: normal;
    font-weight: 400;
    src: url("src/assets/fonts/Fredoka-Regular.ttf");
}
@font-face{
    font-family: 'fredoka';
    font-style: normal;
    font-weight: 600;
    src: url("src/assets/fonts/Fredoka-Medium.ttf");
}

@font-face{
    font-family: 'fredoka';
    font-style: normal;
    font-weight: 800;
    src: url("src/assets/fonts/Fredoka-SemiBold.ttf");
}
@font-face{
    font-family: 'fredoka';
    font-style: normal;
    font-weight: 1000;
    src: url("src/assets/fonts/Fredoka-Bold.ttf");
}

* {
    font-family: Fredoka, sans-serif;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}