@font-face{
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 200;
    src: url("src/assets/fonts/Fredoka-Light.ttf") format('truetype');
}
@font-face{
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 400;
    src: url("src/assets/fonts/Fredoka-Regular.ttf") format('truetype');
}
@font-face{
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    src: url("src/assets/fonts/Fredoka-Medium.ttf") format('truetype');
}

@font-face{
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 800;
    src: url("src/assets/fonts/Fredoka-SemiBold.ttf") format('truetype');
}
@font-face{
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 1000;
    src: url("src/assets/fonts/Fredoka-Bold.ttf") format('truetype');
}

*{
    font-family: Fredoka, sans-serif;
    line-height: 1.5;

    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/

}