.form-main-container {
    width: 100%;
    height: 100%;
    display: flex; /* Make sure Flexbox is active */
    justify-content: right; /* Center horizontally */
    align-items: center;     /* Center vertically */
    background: transparent;
    position: relative;
    z-index: 10;
}
.form-image{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*top: 0;*/
}

.form {
    background-color: var(--form-background-lower-color);
    height: auto;
    padding: 3rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
#form-register{
    max-width: 900px;
    margin-inline-end: 14%;
}
#form-login{
    max-width: 600px;
    margin-inline-end: 20%;
}

.form-input {
    direction: rtl;
    position: relative;
    /*text-align: left;*/
    gap: 4rem;
    border: 3px solid var(--form-input-border-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: transparent;

}

.input-placeholder {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: var(--form-input-color);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s ease;
    background-color: transparent;
    padding: 0 5px;
}
.input-field{
    background: transparent;
    border: none;
    color: var(--form-input-color);
    font-weight: var(--font-weight-medium);
    width: 100%;
    height: 100%;
}
.input-wrapper{
    width: 100%;
    height: 100%;
}
.input-wrapper.has-content .input-placeholder,
.input-wrapper .input-focused + .input-placeholder {
    background-color: var(--form-background-lower-color);
    border-radius: 30px;
    transform: translateY(-125%);
}
.input-wrapper.has-content .input-error,
.input-wrapper .input-focused + .input-error{
    background-color: var(--form-background-lower-color);
    border-radius: 30px;
    transform: translateY(300%);
}
.grid-container {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap: 1rem;
}
.register-input-field{
    width: 100%;
}
.character-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    gap: 1rem;
}

.gender-chooser {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}

.character-icon {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: transform 0.2s ease, border 0.3s ease;
}

.character-icon:hover {
    transform: scale(1.05);
}

.character-icon.selected {
    border: 3px solid var(--form-input-color); /* Highlight border */
    background-color: rgba(0, 0, 0, 0.05); /* Subtle highlight */
    transform: scale(1.08);

}

.input-error{
    display: flex;
    position: absolute;
    transform: translateY(110%);
    transition: 0.5s all ease;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: white;
    z-index: 1;
    direction: rtl;
    text-align: right;
    background-color: red;
    border: 3px solid red;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.gender-container{
    justify-content: space-between;
}
.gender-chooser{
    height: 1.8rem;
    gap: 2rem;
}
#grid-item-8{
    /*grid-column-start: 3;*/
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:5;
}
#grid-item-8 label{
    transform: translateY(-320%);
    background-color: var(--form-background-lower-color);
    border-radius: 30px;
}
#grid-item-9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7;
}

.form-title{
    color: var(--form-title-color);
    /*padding-block-start: var(--login-title-padding);*/
}


.form-submit{
    width: 100%;
    font-size: var(--font-size-very-large);
    font-weight: var(--font-weight-medium);
    background: #0163B5;
    color: white;
}
.form-submit:disabled, .form-submit:disabled:hover{
    background: gray;
    cursor: not-allowed;
}
.form-submit:hover{
    background: #0079db;
    color: white;

}

.new-account{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*font-size: var(--font-size-medium);*/
    color: var(--form-input-color);
    direction: rtl;
    gap: 1rem;
}
.label-button{
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    border-bottom: 4px solid var(--form-input-color);
}