:root{
    /*color variables*/

    /* Default Colors */

    --background-color: #FFFFFF;
    --text-color: #ff7200;
    --border-color: salmon;
    --border-radius: 10px;

    --inactive-color: rgba(81, 81, 81, 0.66);
    --inactive-text-color: #2C2C2C;
    --active-color: #ff7200;
    --active-text-color: white;

    --navbar-bg-color: #FFFFFF;
    /*----------------*/

    /*margin variables*/
    --margin-start: 20px;
    --margin-end: 20px;
    /*----------------*/

    /*font variables*/
    /*sizes*/
    --font-size-mobile-small: 1rem;

    --font-size-small: 1rem;
    --font-size-medium: 1.3rem;
    --font-size-large: 1.5rem;
    --font-size-very-large: 2rem;
    --font-size-huge: 6rem;
    --font-size-h1: 3rem;

    /*weights*/
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-medium: 600;
    --font-weight-semi-bold: 800;
    --font-weight-bold: 1000;
    /*----------------*/

    /*shapes variables*/
    --shapes-size-desktop: 80px;
    --shapes-size-tablet: 60px;
    --shapes-size-mobile: 40px;
    --shapes-size: var(--shapes-size-desktop);
    --triangle-default-size: calc(var(--shapes-size) * 0.866);
    --shapes-default-color: #ff6600;
    --shapes-container-size: 40%;
    --shapes-default-border-color: rgba(0, 0, 0, 0.98);
    /*----------------*/

    --component-width-desktop: 80%;
    --component-width-tablet: 90%;
    --component-width-mobile: 95%;
    --component-width: var(--component-width-desktop);
    --component-minimum-width: 50rem;

    /*navbar variables*/
    --navbar-svg-size-desktop:70px;
    --navbar-svg-size-tablet:50px;
    --navbar-svg-size-mobile:40px;
    --navbar-svg-size: var(--navbar-svg-size-desktop);
    --navbar-text-width-desktop: 130px;
    --navbar-text-width-tablet: 110px;
    --navbar-text-width-mobile: 90px;
    --navbar-text-width: var(--navbar-text-width-desktop);
}