.exercise-component{
    flex-direction: column;
    height: 100%;

}
.complete-the-board-container{
    width: 100%;
    height: 100%;
    gap: 3rem;
}
.complete-board{
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
}

.grid-item{
    width: 4rem;
    height: 4rem;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
}
#wood-sign-arrow{
    rotate: 90deg;
}