.map-container{
    width:100vw;
    height:100vh;
    /*cardBackground-image: url("src/assets/images/Islands/sky_background.png");*/
    /*cardBackground-repeat: no-repeat;*/
    /*cardBackground-size: cover;*/
    direction: rtl;
}
.islands-container{
    width: 80%;
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    border-radius: 15px;
}