.basic-exercise-helper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: var(--component-width);
}
.basic-exercise-helper-operand{
    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-semi-bold);
}
