.basic-exercise-helper {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.basic-exercise-helper-operand{
    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-semi-bold);
}
