.password-recovery-wrapper {
    background: linear-gradient(#1F9EF0,#38B8F5);
    min-height: 100vh;
    width: 100vw;         /* הוספה חשובה */
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    overflow: hidden;     /* מונע גלילה לא רצויה */
}

.password-recovery-overlay {
    background-color: var(--component-bg-color);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 100%;

    max-width: 800px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.recovery-box .title {
    font-size: var(--font-size-very-large);
    color: var(--form-title-color);
    margin-bottom: 20px;
    font-weight: bold;

}
.recovery-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}
.email-input {
    width: 80%;
    padding: 1rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    border-radius: 8px;
    border: 2px solid #ccc;
    color: var(--form-input-color);
}

.send-button {
    background-color: var(--form-submit);
    color: white;
    padding: 12px 24px;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 30%;
    height: 100%;
}
.send-button:hover {
    background-color: var(--form-submit);
    transform: scale(1.05);
}
.send-button:disabled{
    background-color: var(--inactive-color);
    color: var(--inactive-text-color);
}
.recovery-background {
    width: 100%;
    height: 100%;

    /*position:absolute;*/
}
.recovery-box{
    width: 100%;
    height: 100%;

}
.new-password-wrapper {
    background: linear-gradient(#FE812E,#FFAB0B);
}

/* תיבת הצלחה */
.success-bubble {
    margin-top: 25px;
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #28a745;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 128, 0, 0.2);
    display: inline-block;
    animation: pulse 1s infinite alternate;
}

/* הנפשה קטנה */
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* שגיאה */
.error-text {
    color: red;
    margin-top: 15px;
    font-weight: bold;
}