.navbar {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    padding: 15px;
    background-color: var(--background-color);
    margin-inline-start: var(--margin-start);
    margin-inline-end: var(--margin-end);
    margin-block-start: var(--margin-start);
    border-radius: 10px;
    width: var(--component-width);
}

.navbar a {
    color: var(--inactive-color);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar .active svg{
    scale: 1.1;
    fill: var(--active-color);
}
.back{
    background-color: #3c3c3c;
    border-color: transparent;
    cursor: pointer;
}