.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-inline-start: var(--margin-start);
    margin-inline-end: var(--margin-end);
    margin-block-start: var(--margin-start);
    width: var(--component-width);
}

.nav-left, .nav-right {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;

}
.nav-middle {
    flex: 1;
    justify-content: space-evenly;
}
.navbar a {
    color: var(--inactive-color);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}
.navbar svg{
    scale: 1.1;
    fill: var(--inactive-color);
    width: var(--navbar-svg-size);
    height: var(--navbar-svg-size);
}
.navbar .active svg{
    scale: 1.1;
    fill: var(--active-color);
}
.back{
    background-color: #3c3c3c;
    border-color: transparent;
    cursor: pointer;
}
.navbar-text{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
    width: var(--navbar-text-width);
    flex-direction: column;
}