.content-container{
    background-color: var(--background-color);
    width: var(--component-width);
    border-radius: 15px;
    height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
}
