.canvas-container{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.canvas-right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.canvas-exercise label{
    font-size: var(--font-size-very-large);
    font-weight: var(--font-weight-medium);
}
.canvas-content{
    position: relative;
    width: 80%;
    height: 700px;
    background-color: var(--board-background-color);
    border: 1rem solid var(--board-border-color);
    border-radius: 25px;
}
.canvas-content canvas {
    pointer-events: none;
    cursor: none !important;
}
.toolbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.slider-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
.slider-input {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    background: transparent;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    position: relative;
}
.slider-input::-webkit-slider-runnable-track {
    height: 12px;
    background-color: #f7c938;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.slider-input::-moz-range-track {
    height: 12px;
    background: #ddd;
    border-radius: 6px;
}
.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: url("/cursors/slider_thumb.png") no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -20px; /* adjusts vertical alignment */
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.slider-input::-moz-range-thumb {
    background: url("/cursors/slider_thumb.png") no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.canvas-icon{
    width: 100px;
    height: 100px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s, transform 0.2s;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

}
.canvas-icon:hover{
    transform: scale(1.2);
}
.selected{
    opacity: 1;
    transform: scale(1.2);
    border: 2px solid #666;
    border-radius: 50%;
}
.canvas-text{
    font-size: var(--font-size-very-large);

}